.cart__container {
  padding: 50px;
  display: flex;
}

.cart__left {
  flex: 2;
  margin-right: 2em;
}

.cart__right {
  flex: 1;
  margin-right: 2em;
}

.imgContainer {
  width: 100px;
  height: 100px;
  position: relative;
}
.imgContainer img {
  width: 80px;
  height: 80px;
}

.table {
  width: 100%;
  border-spacing: 20px;
}

.name {
  font-weight: 500;
  font-size: 18px;
}

.cart__tr {
  text-align: left;
}

.total {
  font-weight: 500;
  font-size: 18px;
}

.extra {
  position: relative;
  left: 1em;
}
.clearcart,
.clearcart2 {
  background-color: tomato;
  color: white;
  border-radius: 1.3rem;
  outline: none;
  border: none;
  padding: 0.8rem 1.3rem;
  cursor: pointer;
}

.clearcart {
  position: relative;
  top: 2em;
}

.cart__wrapper {
  width: 90%;
  max-height: 400px;
  background-color: #333;
  padding: 50px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}

.totalTextTitle {
  margin-right: 10px;
}

.cart__button {
  height: 30px;
  width: 100%;
  color: #d1411e;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
}

.paymentMethods {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.paymentMethods.paystack {
  margin-top: 1em;
}

.payButton {
  margin-bottom: 5px;
  color: teal;
  background-color: white;
  font-weight: bold;
  border-radius: 1.3rem;
  outline: none;
  border: none;
  padding: 0.9rem 1.8rem;
  cursor: pointer;
}
.payButton:hover {
  background-color: teal;
  color: white;
}
/* .clearcart {
  padding: 10px 5px;
  cursor: pointer;
  margin: auto;
  color: white;
  font-weight: bold;
} */

@media (max-width: 480px) {
  .cart__container {
    display: flex;
    margin-left: -2.4em;
    flex-direction: row;
  }
  .clearcart {
    position: relative;
    left: 17em;
    top: -3em;
  }

  .trTitle {
    display: none;
  }

  .cart__tr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    position: relative;
    left: -3em;
  }

  .price::before {
    content: "price: ";
    font-weight: 500;
  }

  .extra,
  .qty,
  .total {
    display: none;
  }

  .cart__wrapper {
    width: 100%;
    padding: 1em;
  }

  .paymentMethods {
    overflow: hidden;
  }
}
@media (max-width: 600px) {
  .cart__container {
    display: flex;
    margin-left: -1.4em;
    flex-direction: column;
  }
  .clearcart {
    margin-left: -0.8em;
  }
}
@media (max-width: 768px) {
  .cart__container {
    display: flex;
    flex-direction: column;
  }

  .cart__right {
    margin-top: 2em;
  }
}
