.login__container {
  height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -3em;
}

.login__wrapper {
  display: flex;
  flex-direction: column;
}

.input {
  height: 40px;
  margin-bottom: 20px;
  padding: 0px 10px;
}

.login__button {
  height: 40px;
  width: 100%;
  margin-bottom: 20px;
  border: none;
  background-color: teal;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.error {
  font-size: 23px;
  font-weight: bold;
  text-align: center;
  position: relative;
  top: 3em;
  left: 40%;
  color: red;
}

.login_auth {
  text-align: center;
  font-weight: bold;
}
.login_auth button {
  background-color: teal;
  color: white;
  border-radius: 1.3rem;
  outline: none;
  border: none;
  margin-top: 4em;
  margin-bottom: 6em;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.login__text {
  position: relative;
  top: 2em;
}

@media (max-width: 768px) {
  .login__container {
    height: 300px;
    width: 100%;
    margin-bottom: 2em;
  }
}
