.add__container {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  display: flex;
  z-index: 999;
  align-items: center;
  justify-content: center;
  background-color: rgba(197, 197, 197, 0.568);
}

.add__wrapper {
  width: 500px;
  background-color: white;
  border-radius: 20px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.add__title {
  font-weight: 300;
  color: teal;
  overflow: hidden;
  text-transform: capitalize;
}

.add__item .loading {
  text-align: center;
  font-weight: bold;
}
.add__item {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: rgb(24, 27, 27);
  text-align: left;
  margin-bottom: 15px;
}

.add__label {
  overflow: hidden;
  margin-bottom: 10px;
}

.add__input {
  height: 40px;
}

textarea {
  resize: none;
}

.add__button {
  border: none;
  background-color: teal;
  color: white;
  padding: 10px 20px;
  font-weight: 500;
  font-size: 16px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.add__wrapper .add__close {
  position: relative;
  top: 0em;
  overflow: hidden;
  left: 15em;
  cursor: pointer;
  border: none;
  background-color: rgb(247, 54, 20);
  color: white;
  border-radius: 45%;
  padding: 0.3em;
  outline-width: none;
  font-weight: bold;
}

@media (max-width: 480px) {
  .overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(54, 54, 54, 0.568);
  }
  .add__container {
    width: 85%;
    height: 95vh;
    position: fixed;
    top: 1em;
    left: 1em;
    margin: 0 1.2em;
    align-items: center;
    justify-content: center;
  }
  .add__wrapper .add__close {
    left: 10em;
    top: 1.5em;
  }
  .add__wrapper {
    overflow: hidden;
  }
  .add__item input {
    width: 80%;
  }
}
@media (max-width: 768px) {
  .add__wrapper {
    position: relative;
    top: 1em;
    height: 600px;
    overflow: hidden;
  }
}
